.colorpalettedimas {
    background-color: rgb(114, 144, 142); /* Dragonfly */
    background-color: rgb(229, 225, 220); /* Painters White*/
    background-color: rgb(174, 129, 104); /* Cider Spice */
    background-color: rgb(114, 117, 79); /* Secret Meadow */
    background-color: rgb(99, 100, 102); /* Pasangan Painters white */
    background-color: rgb(181, 204, 24); /* olive */
    background-color: rgb(27, 28, 29); /* mystic black */
    background-color: rgb(134, 157, 5); /* dark olive */
    background-color: rgb(16, 14, 23); /* dark olive */
    background-color: rgb(237, 20, 91); /* dark olive */
    background-color: rgb(39, 41, 61); /* dark olive */
    

    background: linear-gradient(to right, rgba(236,20,92) 0%, rgba(124,49,243) 100% );
    background: linear-gradient(to right, rgb(28, 224, 213) 0%,  rgb(0, 15, 118) 100%);

    color: rgb(205, 20, 168);
    color: rgb(255, 31, 210);
    colorinputlabel: rgb(63, 60, 104);
    

    
    font-family: 'Cinzel', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Manjari', sans-serif;
    font-family: 'Manjari', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Montserrat', sans-serif;


    font-size: 20pt;
    font-weight: '900';
}

   /*----------------------BUTTON HOME----------------------------- */

.ui.inverted.dimdom.basic.buttons .button,
.ui.inverted.dimdom.buttons .basic.button,
.ui.inverted.dimdom.basic.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255) inset !important;
  box-shadow: 0px 0px 0px 4px rgb(255, 255, 255) inset !important;
  color: rgb(255, 255, 255) !important;
  font-size: 30px;
  margin: 4px 2px;
  border-radius: 40px;

}

.ui.inverted.dimdom.basic.buttons .button:hover,
.ui.inverted.dimdom.buttons .basic.button:hover,
.ui.inverted.dimdom.basic.button:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 31, 210, 0) inset !important;
  box-shadow: 0px 0px 0px 0px rgba(255, 31, 210, 0) inset !important;
  color: rgb(255, 31, 210) !important;
  font-size: 50px;
  margin: 4px 2px;
  
  transition: 0.8s; 

}

.ui.inverted.dimdom.basic.buttons .button:focus,
.ui.inverted.dimdom.basic.buttons .button:focus,
.ui.inverted.dimdom.basic.button:focus {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  color: rgb(255, 31, 210) !important;
  font-size: 50px;
  margin: 4px 2px;
  
  transition: 0.8s; 
}

.ui.inverted.dimdom.basic.buttons .active.button,
.ui.inverted.dimdom.buttons .basic.active.button,
.ui.inverted.dimdom.basic.active.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  color: rgb(255, 31, 210) !important;
  font-size: 50px;
  margin: 4px 2px;
  
  transition: 0.8s; 
}

.ui.inverted.dimdom.basic.buttons .button:active,
.ui.inverted.dimdom.buttons .basic.button:active,
.ui.inverted.dimdom.basic.button:active {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  color: rgb(255, 31, 210) !important;
  font-size: 50px;
  margin: 4px 2px;
  
  transition: 0.8s; 
}


/*---------------------------BUTTON BIASA------------------------*/


.ui.inverted.dimdom3.basic.buttons .button,
.ui.inverted.dimdom3.buttons .basic.button,
.ui.inverted.dimdom3.basic.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12pt;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 2px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 2px rgb(255, 31, 210) inset !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 25px;

}

.ui.inverted.dimdom3.basic.buttons .button:hover,
.ui.inverted.dimdom3.buttons .basic.button:hover,
.ui.inverted.dimdom3.basic.button:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: rgb(255, 31, 210) !important;
  -webkit-box-shadow: 0px 0px 0px 2px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 2px rgb(255, 31, 210) inset !important;
  color: rgb(255, 255, 255) !important;
  transition: 0.3s; 

}

.ui.inverted.dimdom3.basic.buttons .button:focus,
.ui.inverted.dimdom3.basic.buttons .button:focus,
.ui.inverted.dimdom3.basic.button:focus {
  
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 31, 210);
  -webkit-box-shadow: 0px 0px 0px 2px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 2px rgb(255, 31, 210) inset !important;
  color: rgb(255, 255, 255) !important;
  
}

.ui.inverted.dimdom3.basic.buttons .active.button,
.ui.inverted.dimdom3.buttons .basic.active.button,
.ui.inverted.dimdom3.basic.active.button {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 31, 210);
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0,5) inset !important;
  box-shadow: 0px 0px 0px 2px rgb(255, 31, 210) inset !important;
  color: rgb(255, 255, 255) !important;
 
}

.ui.inverted.dimdom3.basic.buttons .button:active,
.ui.inverted.dimdom3.buttons .basic.button:active,
.ui.inverted.dimdom3.basic.button:active {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 31, 210);
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0,5) inset !important;
  box-shadow: 0px 0px 0px 2px rgb(255, 31, 210) inset !important;
  color: rgb(255, 255, 255) !important;
 
}

/*---------------------------BUTTON SIDEBAR------------------------*/

.ui.inverted.dimdom4.basic.buttons .button,
.ui.inverted.dimdom4.buttons .basic.button,
.ui.inverted.dimdom4.basic.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) inset !important;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) inset !important;
  color: rgb(255, 255, 255) !important;
  font-size: 24px;
  margin: 4px 2px;
  transition: 0.3s; 
}

.ui.inverted.dimdom4.basic.buttons .button:hover,
.ui.inverted.dimdom4.buttons .basic.button:hover,
.ui.inverted.dimdom4.basic.button:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 31, 210, 0) inset !important;
  box-shadow: 0px 0px 0px 0px rgba(255, 31, 210, 0) inset !important;
  color: rgb(255, 31, 210) !important;
  font-size: 50px;
  
  transition: 0.3s; 

}

.ui.inverted.dimdom4.basic.buttons .button:focus,
.ui.inverted.dimdom4.basic.buttons .button:focus,
.ui.inverted.dimdom4.basic.button:focus {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  color: rgb(255, 31, 210) !important;
  font-size: 50px;
  margin: 4px 2px;
  
  transition: 0.3s; 
}

.ui.inverted.dimdom4.basic.buttons .active.button,
.ui.inverted.dimdom4.buttons .basic.active.button,
.ui.inverted.dimdom4.basic.active.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  color: rgb(255, 31, 210) !important;
  font-size: 50px;
  margin: 4px 2px;
  
  transition: 0.3s;  
}

.ui.inverted.dimdom4.basic.buttons .button:active,
.ui.inverted.dimdom4.buttons .basic.button:active,
.ui.inverted.dimdom4.basic.button:active {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  box-shadow: 0px 0px 0px 0px rgb(255, 31, 210) inset !important;
  color: rgb(255, 31, 210) !important;
  font-size: 50px;
  margin: 4px 2px;
  
  transition: 0.3s; 
}

/* -------------------------- BUTTON GROUP -------------------------------------- */

.ui.inverted.dimdom3.basic.buttons .button,
.ui.inverted.dimdom3.basic.buttons .or,
.ui.button {
  font-size: 1rem;
}

.ui.toggle.buttons .active.button,
.ui.buttons .button.toggle.active,
.ui.button.toggle.active {
  background-color: rgb(255, 31, 210)!important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none;
  color: #FFFFFF !important;
}

.ui.buttons .or {
  position: relative;
  width: 0.3em;
  height: 2.57142857em;
  z-index: 3;
}

.ui.inverted.dimdom3.basic.buttons .or:before {
  position: absolute;
  text-align: center;
  border-radius: 500rem;
  content: 'or';
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0);
  text-shadow: none;
  margin-top: -0.89285714em;
  margin-left: -0.89285714em;
  width: 1.78571429em;
  height: 1.78571429em;
  line-height: 1.78571429em;
  color: rgba(0, 0, 0, 0.4);
  font-style: normal;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 0px 1px transparent inset;
  box-shadow: 0px 0px 0px 1px transparent inset;
}

.ui.inverted.dimdom3.basic.buttons .or[data-text]:before {
  content: attr(data-text);
}

.ui.inverted.dimdom3.basic.buttons:not(.vertical) > .basic.black.button:not(:first-child) {
  margin-left: -1px;
}

.ui.inverted.dimdom3.basic.buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 0em;
  vertical-align: baseline;
  margin: 0em 0.25em 0em 0em;
}

.ui.buttons:not(.basic):not(.inverted) {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.inverted.dimdom3.basic.buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui.inverted.dimdom3.basic.buttons .button {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0em;
  border-radius: 0em;
  margin: 0px 0px 0px 0px;
}

.ui.buttons > .ui.button:not(.basic):not(.inverted),
.ui.buttons:not(.basic):not(.inverted) > .button {
  -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}

.ui.inverted.dimdom3.basic.buttons .button:first-child {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;

}

.ui.inverted.dimdom3.basic.buttons .button:last-child {
  border-top-right-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
  
}












/* ----------- Link ------------*/


  .dimdom-grad {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    background: linear-gradient(to bottom right, rgba(0,253,255,1) 0%, rgba(159,135,255,1) 51%, rgba(255,0,232,1) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dimdom-pink {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }

  .dimdom-pink:hover {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 31, 210);
    transition: 0.5s;
  }

  .dimdom-pink-logo {
    font-family:  'Mansalva', cursive;
    font-weight: 900;
    color: rgb(255, 255, 255);
  }

  .dimdom-pink-logo:hover {
    font-family:  'Mansalva', cursive;
    color: rgb(255, 31, 210) !important;
    transition: 0.5s;
  }


/*-------------------------------------------------------------------------------*/

.dimdom-bottom{
  border-bottom: 0.1px solid rgba(255, 31, 210, 0.7);
}

.dimdom-left-right{
  border-left: 0.1px solid rgb(63, 63, 63);
  border-right: 0.1px solid rgb(63, 63, 63);
}

.dimdom-top{
  border-top: 0.1px solid rgb(63, 63, 63);
}

.dimdom-bg {
  height: 15px;
  background: linear-gradient(to right,rgba(0, 0, 0, 0) 0%, rgb(255, 31, 210) 10%,  rgba(0, 0, 0, 0) 22%);
}
.dimdom-bg-bottom {
  height: 115px;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%,  rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%, rgb(255, 255, 255) 100%);
}



div.box-containe div {
  width: 1350px;
  height: 550px;
  line-height: 300px;
  text-align: center;
  font-size: 23px;
  margin: 7px
}

.subjudul {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 900;
  font-size: 20pt;
  color: rgb(255, 31, 210);
}

.monalt900 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 900;
}

.monalt900p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 900;
  color: rgb(255, 31, 210);
}

.monalt500 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

.mon500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.mon600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.mon700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.manj700 {
  font-family: 'Manjari', sans-serif;
  font-weight: 500;

}

.quic600 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.quic700b {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 14pt;
 
}
.quic700p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  color: rgb(255, 31, 210);
}

.quic700 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;

}

.dimdom-color{
  color: rgb(255, 31, 210) !important;
}

.dimdom-pic2 {
    height: 500px;
    background-image: url('./lib/pictures/bg-pic.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.dim-height-home {
  height: 900px;
}
.dim-height {
  height: 1000px;
}

.dim-height-addproduct {
  height: 1000px;
}

.dim-height-nav {
  height: 986px;
}


#bg-base {
  height: 1200px;
  background-image: url('./lib/pictures/bg-pic.png')!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed!important;
  background-size: 100%!important;
}

.dimdom-btn {
  background-color: rgba(0, 0, 0, 0); /* Green */
  border: white;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.card2 {
  background-color: rgba(56, 56, 56, 0.472);
  border-radius: 20px;
  
}

.card-nav {
  background-color: rgba(19, 19, 19, 0.8);
  border-radius: 10px;
}



/* ---------------------ALERT--------------------------- */

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 3px solid;
  border-radius: 25px;
  
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
  font-family: 'Montserrat'
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-danger {
  color: #ff3a4a;
  background-color: transparent;
  border-color: #ff3a4a;
}

.alert-danger hr {
  border-top-color: #ff3a4a;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-success {
  color: #00ff3c;
  background-color: transparent;
  border-color: #00ff3c;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}











/*--------------------
        Inputs
---------------------*/

.ui.input2 {
  position: relative;
  font-weight: normal;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgb(255, 255, 255);
}

.ui.input2 > input {
  margin: 0em;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: 'Montserrat', sans-serif;
  padding: 0.67857143em 1em;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgb(74, 72, 100);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: 0.4s
}

/*--------------------
      Placeholder
---------------------*/

/* browsers require these rules separate */

.ui.input2 > input::-webkit-input-placeholder {
  color: rgba(191, 191, 191, 0.87);
}

.ui.input2 > input::-moz-placeholder {
  color: rgba(191, 191, 191, 0.87);
}

.ui.input2 > input:-ms-input-placeholder {
  color: rgba(191, 191, 191, 0.87);
}

/*--------------------
        Disabled
---------------------*/

.ui.disabled.input2,
.ui.input:not(.disabled) input[disabled] {
  opacity: 0.45;
}

.ui.disabled.input2 > input,
.ui.input:not(.disabled) input[disabled] {
  pointer-events: none;
}

/*--------------------
        Active
---------------------*/

.ui.input2 > input:active,
.ui.input2.down input {
  border-color: rgb(255, 80, 220);
  background: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: none;
  box-shadow: none;
  
}


/*--------------------
        Focus
---------------------*/

.ui.input2.focus > input,
.ui.input2 > input:focus {
  border-color: rgb(255, 80, 220);
  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: 0.4s
}

.ui.input2.focus > input::-webkit-input-placeholder,
.ui.input2 > input:focus::-webkit-input-placeholder {
  color: rgba(191, 191, 191, 0.87);
}

.ui.input2.focus > input::-moz-placeholder,
.ui.input2 > input:focus::-moz-placeholder {
  color: rgba(191, 191, 191, 0.87);
}

.ui.input2.focus > input:-ms-input-placeholder,
.ui.input2 > input:focus:-ms-input-placeholder {
  color: rgba(191, 191, 191, 0.87);
}


.fade-in {
  animation: fadeIn 6s; 
}

.fade-out {
  animation: fadeOut 6s; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

i.link.icon,
i.link.icons {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

i.link.icon:hover,
i.link.icons:hover {
  opacity: 1 !important;
}

i.inverted.bordered.icon,
i.inverted.dimdom.icon {
  background-color: rgba(255, 31, 210, 0)!important;
  color: rgb(255, 31, 210) !important;
}


.ui.icon.input2 > i.icon {
  cursor: default;
  position: absolute;
  line-height: 1;
  text-align: center;
  top: 0px;
  right: 0px;
  margin: 0em;
  height: 100%;
  width: 2.67142857em;
  opacity: 0.7;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 0em 10px 10px 0em;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.ui.icon.input2 > i.icon:not(.link) {
  pointer-events: none;
}

.ui.icon.input2 > input {
  padding-right: 2.67142857em !important;
}

.ui.icon.input2 > i.icon:before,
.ui.icon.input2 > i.icon:after {
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
}

.ui.icon.input2 > i.link.icon {
  
  cursor: pointer;
}

.ui.icon.input2 > i.circular.icon {
  top: 0.35em;
  right: 0.5em;
}

.ui.icon.input2 > input:focus ~ i.icon {
  opacity: 1;
}


/* ---------------------MODAL ------------------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 1095px;
  background: rgba(0, 0, 0, 0.6);
  transition: 1s;
}

  .modal-main {
    position:fixed;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: auto;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top: 450px;
  }


.display-block {
  display: block;
}

.display-none {
  display: none;
}



